body{
    font-family:'Exo 2';
    /* background-image: url("images/greenBack.jpeg"); */
    background-image: url("images/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* background-color:#B3C890 */
}
.form-container, .results-container {
    float:right;
    border-radius: 25px;
}

#list {
    border: 1px solid #B3C890;
    border-radius: 25px;
    display: none;
    position:fixed;
}

.listItem {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
}

.listItem:hover {
    background-color: lightgrey;
}

#searchbar, #searchicon, #searchbutton{
    clear: both;
    display:inline;
}

#searchicon{
    width:30px;
    height:25px;
    color:#000000;
}

#searchbar{
    clear: both;
    border-radius: 25px;
    border: 1px solid #B3C890;
}

#searchbutton{
    border-radius: 25px;
    background-color: #F5F0BB;
    border-color: white;
}

#tag {
    width: 30px;
    height: 30px;
}

#location{
    clear:both;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    /* color:rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px #000000; 
    text-shadow: -1px 1px 0 #73A9AD,
				  1px 1px 0 #73A9AD,
				 1px -1px 0 #73A9AD,
                 -1px -1px 0 #73A9AD; */
    color:rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000000,
                1px 1px 0 #000000,
                1px -1px 0 #000000,
                -1px -1px 0 #000000;
    font-weight: bold;
}

#location img, #location h2{
    display:inline;
    
}

#date-time {
    clear:both;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    
}

#date, #time, #date-time p {
    display: inline;
    color:rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px #000000; */
    color:rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000000,
                1px 1px 0 #000000,
                1px -1px 0 #000000,
                -1px -1px 0 #000000;
    font-weight: bold;
    font-weight: 1000;
}

#todayWidget {
    /* clear:both; */
    display:flex;
    height:25vh;
    width: 30vw;
    background-color: #B3C890;
    margin-left:35%;
    border-radius: 25px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#todayTemp, #tempIcon{
    display:inline;
}

#tempIcon {
    float:right;
    margin-top: 3vw;
    margin-left: 4vw;
    width: 9.5vw;
    height: 8vw;
}

#temp{
    float:right;
    margin-top: -0.5vw;
    margin-bottom: 2vw;
    /* margin-left: .25vw; */
    margin-right: 2.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-weight: 900;
}

#todayTemp {
    display: flex;
    margin-left:2vw;
    margin-top:4vw;
    font-size: 6vw;
}

#indexF, #indexC{
    display:inline;
    /* margin-bottom: -3vw; */
    margin-top:5vw;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
  
}

#indexF{

    margin-left: 2vw;
}

#indexC{

}

#subWidgetParent {
    margin-top:2%;
    text-align:center;
}

#todaySubWidget1, #todaySubWidget2 {
    border-radius: 25px;
    display: inline-block;
    padding: 10rem 10 rem;
    vertical-align: middle;
    background-color: #DBDFAA;
    height:12.5lvh;
    width: 15lvw;
    text-align: left;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#todaySubWidget1 p, #todaySubWidget2 p {
    display:flex;
    margin-left:10%;
    margin-top:0.5vw;
    font-size: 1.25vw;
    font-weight: bold;
    font-weight: 900;
}

#todaySubWidget1 h3, #todaySubWidget2 h3 {
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: -1vw;
    font-weight: bold;
    font-weight: 900;
    font-size: 3vw;
}

